<form [formGroup]="UpdateForm"  (ngSubmit)="update()" >
  <div class="container"> 
 
  <div class="grid">
<label>FULL NAME: 
<input type="text" formControlName="fullname"  >
<div *ngIf="UpdateForm.controls['fullname'].invalid && (UpdateForm.controls['fullname'].dirty || UpdateForm.controls['fullname'].touched)" class="alert alert-danger">
  <div *ngIf="UpdateForm.controls['fullname'].errors.required" class="grid-item">Name is required</div>
</div>     </label> 

<label> Email Address:
<input type="email"  formControlName="email" >
<div *ngIf="UpdateForm.controls['email'].invalid && (UpdateForm.controls['email'].dirty || UpdateForm.controls['email'].touched)" class="alert alert-danger">
  <div *ngIf="UpdateForm.controls['email'].errors.required" class="grid-item">Email is required</div>
</div>  </label>
<label>PHONE NUMBER:
<input type="number" formControlName="phonenumber" >
<div *ngIf="UpdateForm.controls['phonenumber'].invalid && (UpdateForm.controls['phonenumber'].dirty || UpdateForm.controls['phonenumber'].touched)" class="alert alert-danger">
  <div *ngIf="UpdateForm.controls['phonenumber'].errors.required" class="grid-item">Phonenumber is required</div>
</div>  </label>
<label>ADDRESS:
<input type="text" formControlName="address">

<div *ngIf="UpdateForm.controls['address'].invalid && (UpdateForm.controls['address'].dirty || UpdateForm.controls['address'].touched)" class="alert alert-danger">
  <div *ngIf="UpdateForm.controls['address'].errors.required" class="grid-item">Address is required</div>
</div>  </label>
<label>BRIEF MEDICAL HISTORY(OPTIONAL):
  <input type="text" class="grid-item" formControlName="field">
</label>



<input type="submit" class="grid-item" [disabled]="UpdateForm.invalid"value="UPDATE PROFILE" >
<br>
</div>
</div>
</form>